#bdy
  {
  font-family: 'Press Start 2P';
  background-color: #D0D0D0 ; 
  }

#sel
  {
   padding-left: 40%;
   background-color: #D0D0D0 ;
   border: 2px solid green;
  }
Input
 {
   background:black;
 }

.bgm
 {
   
 }