

#sel
  {
   padding-left: 40%;
   background-color:#0A330D;
   border: 2px solid #17771F;
   color: #1CB529;
  }
input
 {
   background: #0A330D;
   border: 2px solid #17771F;
 }

.bgm
 {
  font-family: 'Press Start 2P';
  background-color: #0C330F; 
  color: #1CB529;
 }
button
{
  border: 2px solid green;
  background: none;
}

#r
{
  margin-top: 66px;
  text-align: center;
  font-size:42px;
  
}
