

#sel
  {
   padding-left: 40%;
   background-color:#0A330D;
   border: 2px solid green;
   color: green;
  }
input
 {
   background: #0A330D;
   border: 2px solid green;
 }

.bgm
 {
  font-family: 'Press Start 2P';
  background-color: #0C330F; 
  color: green;
 }
button
{
  border: 2px solid green;
  background: none;
}

#sel::selection {background: green;}
#sel::-moz-selection {background:green;}
#sel::-webkit-selection {background:green; color:red;}