H1 {
    color: #00a500;
    font-size: 20pt;
    font-family: Jura;
   }

.text{
   color: #00BA00;
   font-family: Jura;
   font-size: 14pt;
   padding-left: 5%;
  }

html{
      background-image: url("bg-dark-4785.jpg");
      #padding-top: 10%;
      color: white;
      font-family: Helvetica;
     }

.box {
      #width: 0;
      padding: 10px;
      border: 1px solid ;
      border-color: rgba(41, 45, 42, 0.5);
      margin: 10px;
      box-shadow: 0 0 3px rgba(0,0,0,0.5);
      background: rgba(0,0,0,0.7);
     }

.flexbox-cont{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}
.flexbox {
      	padding: 10px;
      	border: 1px solid ;
      	border-color: rgba(41, 45, 42, 0.5);
      	#margin: 10px;
      	box-shadow: 0 0 3px rgba(0,0,0,0.5);
      	background: rgba(0,0,0,0.7);
     }
.link {
       color: white;
       font-family :Jura;
       font-size: 13pt;
      }
.info{
	color: #bbb;
}

.info:hover{
	color: #fff;
}
